<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        </link>
        <title>Fest first project</title>
    </h:head>
    <h:body >
        <h:form class="row justify-content-md-center">
            <h:panelGrid columns="2" cellpadding="5" > 
            <h:outputLabel for="FName" value="First Name*"/>
            <h:inputText class="form-control" id="FName" required="true" value="#{users.fname}" requiredMessage="Enter your first name"/>
            
            <h:outputLabel for="MName" value="Middle Name"/>
            <h:inputText class="form-control" id="MName" value="#{users.mname}"/>
            
            <h:outputLabel for="LName" value="Last Name*"/>
            <h:inputText class="form-control" id="LName" required="true" value="#{users.lname}" requiredMessage="Enter your last name"/>
            
            <h:outputLabel for="Faculty" value="Faculty*"/>
            <h:selectOneMenu class="form-control" id="Faculty" required="true" value="#{users.faculty}" requiredMessage="Enter your faculty">
                <f:selectItem itemLabel="Select faculty" itemValue="" noSelectionOption="true"/>
                <f:selectItems value="#{users.facultyList}"/>
                <f:ajax  execute="faculty" listener="#{users.onFacultyChange}" render="Program" event="valueChange"/>
            </h:selectOneMenu>
           
            <h:outputLabel for="Program" value="Program*"/>
            <h:selectOneMenu class="form-control" id="Program" required="true" value="#{users.program}" requiredMessage="Enter your program">
                <f:selectItem itemLabel="Select program" itemValue="" noSelectionOption="true"/>

                <f:selectItems value="#{users.programList}"/>
            </h:selectOneMenu>
            
            <h:commandButton id="add" value="Save" action="#{users.save()}" class="btn btn-success"/>
            </h:panelGrid>
            </h:form>
        <h:panelGrid class="row justify-content-md-center">

            <h:dataTable value="#{users.usersList}" var="k" border="2" cellpadding="2" cellspacing="2" class="table table-striped table-dark">
                <f:facet name="header" class="float-right">Data Table of User</f:facet>
                <h:column>
                    <f:facet name="header">First Name</f:facet>
                    <h:outputText value="#{k.fname}"/>
                </h:column>
                <h:column> 
                    <f:facet name="header">Middle Name</f:facet>
                    <h:outputText value="#{k.mname}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Last Name</f:facet>
                    <h:outputText value="#{k.lname}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Faculty</f:facet>
                    <h:outputText value="#{k.faculty}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Program</f:facet>
                    <h:outputText value="#{k.program}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Action</f:facet>
                    <h:form>
                    <h:commandLink value="Edit" action="#{users.edit(k)}" immediate="true"/><br/>
                    <h:commandLink value="Delete" action="#{users.delete(k)}" immediate="true"/>
                    </h:form>
                </h:column>
            </h:dataTable>
        </h:panelGrid>
    </h:body>
</html>

